{% extends "base/main.html" %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static "css/produtos.css" %}" />
<title>Lista de produtos :: Aproveite nossas PROMOÇÕES!!!</title>
{% endblock %}

{% block content %}
    {% for bicicleta in object_list %}
    <span id="container-produtos">
        <a href="{% url 'detalhe-bicicletas' slug=bicicleta.slug %}"}>
            <span id="bicicleta-prod">
                <img id="imagem-prod" src="{% get_media_prefix %}{{bicicleta.imagem}}"/>
<!--                <p id="modelo-prod">{{bicicleta.modelo}}</p>-->
<!--                <p id="preco-prod">{{bicicleta.preco}}</p>-->
                <span id="texto-prod">
                    <h2>{{bicicleta.modelo}}</h2>
                    <h2>R$ {{bicicleta.preco|floatformat:2}}</h2>
                </span>
            </span>
        </a>
    </span>
    {% empty %}
        <h3>Não existem produtos cadastrados!</h3>
    {% endfor %}
{% endblock %}