{% extends "base/main.html" %}
{% load static %}
{% load produtos_tags %}

{% block title %}
<link rel="stylesheet" href="{% static "css/produtos.css" %}" />
<title>Descrição: {{ bicicleta.modelo }}</title>
{% endblock %}

{% block content %}
    <br>
    <h1 id="titulo-detalhe">{{ bicicleta.modelo }}</h1>
        <span id="container-detalhe">
            <span id="bicicleta-detalhe">
                <img id="imagem-prod-detalhe" src="{% get_media_prefix %}{{bicicleta.imagem}}" />
                <span id="texto-prod">
                    <h2>{{ bicicleta.modelo }}</h2>
                    <h2>{{ bicicleta.preco|precificar }}</h2>
                </span>
                <br>
                <span id="descricao-prod">
                    {{bicicleta.descricao}}
                </span>
                <br><br>
                <button data-product="{{ bicicleta.id }}" data-action="add" class="update-cart">Comprar</button>
            </span>
        </span>
{% endblock %}