{% extends 'base/main.html' %}
{% load static %}
{% block title %}
<!-- <link rel="stylesheet" href="{% static "css/produtos.css" %}" /> -->
<!-- <script type="text/javascript" src="{% static 'js/pegaProduto.js' %}" /> -->
<title>Lista de produtos :: Aproveite nossas PROMOÇÕES!!!</title>
{% endblock %}

{% block content %}
    <h1>Lista de produtos</h1>
        <!--        {{ request.session.name }}-->
    <br><br>
    {% for p in produtos %}
        <a href="{% url 'bicicletas:detalhe-bicicletas' slug=bicicleta.slug %}"}>
            <div id="div-{{p.codigo}}">
                <img id="imagem-prod" src="{% get_media_prefix %}{{p.imagem}}" width="25%"/>
                <p id="modelo-prod">{{p.modelo}}</p>
                <p id="preco-prod">{{p.preco}}</p>
            </div>
        </a>
    {% empty %}
        <h3>Não existem produtos cadastrados!</h3>
    {% endfor %}

{% endblock %}
