{% extends "base/main.html" %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static "css/estilosCuriosidades.css" %}" />
<title>Curiosidades da bike e do ciclismo!!</title>
{% endblock %}

{% block content %}
    <section id="curiosidades">
       <h2>
            Algumas curiosidades
       </h2>

       <div class="conteudo">
           <h3>
               O ciclista ao ocupar parte da via não está infringindo as regras do
               Código de Trânsito Brasileiro.
           </h3>
           <p>
               Segundo a legislação, caso não existam ciclovias, ciclofaixas ou
               acostamento, ou ainda quando não for possível utilizá-los, o ciclista deve
               ocupar os bordos da pista, obedecendo o sentido da via, com preferência
               sobre os veículos automotores. Contudo, o Código de Trânsito não delimita
               até onde vai esta margem do bordo da pista.
           </p>
       </div>

       <div class="conteudo">
           <h3>
               A legislação para ciclistas no Brasil não coloca o capacete como
               um item de segurança obrigatório.
           </h3>
           <p>
               O uso não é obrigatório, mas é recomendado e de fundamental
               importância para a preservação da vida. Da mesma forma, o uso das
               cotoveleiras e as joelheiras. Apesar de não serem itens previstos
               em lei, a regra de segurança se destaca em relação à legislação,
               neste caso.
           </p>
           <p>
               O capacete é um item essencial, protegendo o ciclista &mdash;
               que está sujeito a acidentes como em qualquer outro veículo &mdash;
               de ferimentos graves, além de salvar sua vida em muitos casos.
           </p>
           <p>
               Previsto em legislação, mais precisamente no Art. 105,
               definem-se como equipamentos obrigatórios ao ciclista:
               a campainha, a sinalização noturna (dianteira, traseira,
               lateral e nos pedais), e o espelho retrovisor do lado esquerdo.
           </p>
       </div>

       <div class="conteudo">
           <h3>
               Somente os ciclistas podem ultrapassar os carros parados em fila
               no trânsito para esperar o semáforo abrir.
           </h3>
           <p>
               Segundo o Código de Trânsito Brasileiro somente os veículos
               não motorizados podem ultrapassar veículos em fila, parados
               em razão de sinal luminoso, cancela, bloqueio viário parcial
               ou qualquer outro obstáculo. Isso está no Art. 211.
           </p>
           <p>
               Porém, apesar de não infringir a legislação, optar por esta ação
               exigirá muita cautela do ciclista.
           </p>
           <p>
               É recomendado que ele só opte em fazer esta manobra tendo certificado
               de que sua atitude não acarretará em nenhum risco para qualquer dos
               agentes em trânsito (motorista, motociclista, pedestres etc.).
           </p>
       </div>

        <div class="conteudo">
            <h3>
                A bicicleta só pode andar nas calçadas em ocasiões especiais,
                com autorização e indicação dos órgãos de trânsito.
            </h3>
            <p>
                O Art. 68 assegura que o ciclista, quando desmontado e empurrando
                a sua bicicleta, equipara-se ao pedestre em direitos e deveres.
                Porém a legislação ainda guarda algumas ressalvas, permitindo a
                circulação nos passeios, em casos especiais, desde que autorizado
                e devidamente sinalizado pelos órgãos ou entidades, assim relata
                o Art. 59. Além destas questões, a lei traz ainda outras regras,
                para a perfeita convivência do ciclista com os demais agentes em trânsito.
            </p>
        </div>
    </section>
{% endblock %}