{% extends "base/main.html" %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static "css/estilosNoticias.css" %}" />
<title>Notícias do mundo da bike!!</title>
{% endblock %}

{% block content %}
    <section id="noticias">
        <div class="conteudo">
            <h3>
                Pandemia aumenta demanda por bicicletas e ciclofaixas
            </h3>
            <p>
                Só na Europa, 2.315 novos quilômetros de ciclovias foram anunciados
                desde que a crise do coronavírus começou; mais de 1.000 quilômetros já
                foram finalizados.
            </p>
            <img src="{% static "img/ciclofaixa.jpg" %}" alt="Imagem Xis">
            <p>
                A necessidade do distanciamento social e a aversão aos transportes
                públicos durante a pandemia de Covid-19 favoreceram um dos meios de
                transporte mais baratos e sustentáveis da atualidade: a bicicleta.
            </p>
            <p>
                Em Barcelona, na Espanha, a prefeitura teve que esperar por décadas
                uma oportunidade para ampliar as vias destinadas aos ciclistas,
                e ela veio com a Covid-19. A cidade catalã é uma das mais aglomeradas
                do continente e apresenta altos índices de trânsito, o que por muitas
                vezes impediu a Prefeitura de dar andamento nas obras.
                Com a diminuição do tráfego durante a crise do coronavírus,
                o governo conseguiu conseguiu instalar os novos 150 quilômetros
                de ciclovias.
            </p>
            <img src="{% static "img/ciclofaixa2.jpg" %}" alt="Imagem Xis">
        </div>

        <div class="conteudo">
            <h3>
                PROMEND TRAZ BOLSA BAGAGEIRO EXPANSÍVEL E COM ALÇA
            </h3>
            <p>
                O alforge é, sem sombra de dúvida, um dos maiores aliados
                para o ciclista que pedala para chegar em seus compromissos diários,
                mas também para quem curte viajar com a bike. Até por que, sem o
                peso da mochila nas costas, o suor e o incomodo acabam ficando
                muito menores. Porém, na hora de comprar uma bolsa ou alforge,
                normalmente você precisa decidir entre um modelo grande,
                com duas bolsas laterais, ou um menor que vai por cima do bagageiro.
            </p>
            <img src="{% static "img/bagageiro1.jpg" %}" alt="Imagem Xis">
            <p>
                Para solucionar este problema, a Promend, marca importada e
                distribuída no Brasil pelo Grupo JPP que você conhece neste artigo
                do Pedal, criou a Bolsa Bagageiro Promend, que têm em suas laterais
                zíperes que liberam duas bolsas adicionais, aumentando consideravelmente
                sua capacidade de carga.
            </p>
                
            <img src="{% static "img/bagageiro2.jpg" %}" alt="Imagem Xis">
            <p>
                O modelo ainda conta com três divisões internas em sua bolsa principal
                e um bolsinho traseiro com capacidade para carregar uma garrafinha de
                água adicional: uma ótima pedida para quem viaja com a bike.
                Além disso, se você precisar carregar ainda mais coisas, a parte
                superior do do bagageiro também pode ser ampliada &mdash;
                um telado na parte superior parece ser o lugar ideal para levar
                uma capa de chuva quando o clima fica mais incerto.
            </p>
            <img src="{% static "img/bagageiro3.jpg" %}" alt="Imagem Xis">
            <p>
                Vindo acompanhada de uma capa de chuva, a Bolsa Bagageiro
                Promend é compatível com boa parte dos bagageiros de bicicleta,
                sendo presa de maneira simples com fitas largas de velcro.
                Ao chegar em seu destino, a facilidade fica por conta da simples
                retirada e da alça de transporte superior &mdash;
                realmente, um produto bem bacana que acaba valendo por dois.
            </p>
        </div>
    </section>
{% endblock %}