/*
GERAL
*/

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

#noticias {
    padding: 20px;
    align-items: center;
}

.conteudo {
    border: 2px outset;
    margin: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 5px #888888;
    padding-top: 3vw;
}

.conteudo p {
    margin: 1vw;
    padding: 2vw;
}

.conteudo img {
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
    padding: 10px;
}