{% load static %}

    <header>
        <h1>LOREM IPSUM</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis exercitationem officiis.</p>
        <a href="#sobre" class="botao">VER MAIS</a>
    </header>

    <section id="sobre">
        <h2>SOBRE</h2>
        <p>A Bike Flamingo é uma plataforma de auxílio ao ciclista, aqui você pode comprar a sua bike dos sonhos, aquela peça que precisa para fazer um upgrade, uma roupa para realizar um pedal tranquilo! E claro, contamos com muitas dicas que podem auxiliar você.</p>
        <a href="#contato" class="botao">ENTRE EM CONTATO</a>
    </section>

        <section id="servicos">
        <h2>Vamos pedalar!</h2>
        <div>
            <img src="{% static "img/bike.png" %}" alt="Bicicleta">
            <h3>Escolher o tamanho ideal da bicicleta</h3>
            <p>
                De acordo com a altura do ciclista é que a escolha deve ser feita, identificando assim o tamanho da bike.
            </p>
            <p>Tamanho de quadro da Bike 46 a 50: Ciclista com altura entre 1,50 m até 1,60 m.
                <br/><br/>Tamanho de quadro da Bike 50 a 59: Ciclista com altura entre 1,60 m até 1,90 m.
                <br/><br/>Tamanho de quadro da Bike 59 a 63: Ciclista com altura entre 1,90 até 2 m.
                <br/><br/>Tamanho de quadro da Bike 63 ou +: Ciclista com altura entre 2 m ou mais.
            </p>
        </div>
        <div>
            <img src="{% static "img/capacete.png" %}" alt="Capacete">
            <h3>O capacete é o equipamento que não pode faltar</h3>
            <p> Não importa a distância do seu percurso, ele é indispensável. É ele que vai proteger sua cabeça em caso de quedas ou acidentes.
                Existem diferentes modelos de capacetes que vem com sinalizador na parte de trás, contribuindo com sua segurança em pedaladas noturnas.
                Outro detalhe importante é o ajuste correto do capacete na cabeça do ciclista. Não basta apenas colocar ele, é necessário:
                <br/><br/>Centralizar o capacete na cabeça, não pode ficar muito para cima e nem para baixo;
                <br/><br/>Ajustar a regulagem que fica atrás do capacete. Basta girar, até ficar estável;
                <br/><br/>Ajuste também as regulagens laterais que deve ser até a orelha para que fique firme;
                <br/><br/>Para finalizar, ajuste a correia do queixo, afivele para que não fique muito apertado e nem muito solto.
            </p>
        </div>
        <div>
            <img src="{% static "img/pedevela.png" %}" alt="Pedaleira">
            <h3>Manutenção básica</h3>
            <p>Você não precisa ser um especialista em mecânica para começar a pedalar. No entanto, é recomendável que consiga realizar algumas tarefas básicas de manutenção.
                Devemos sempre realizar a lubrificação das nossas correias e correntes, evitando o desgaste excessivo da peças e a necessidade da troca prematura .
                Reparar e trocar um pneu, substituir a câmara de ar, consertar a corrente e efetuar ajustes em câmbio e no sistema de frenagem são algumas coisa que você deve saber.

                Isso não significa, é claro, que você não possa pedalar por aí caso não tenha essas habilidades. Logo, você vai se sentir mais confiante e seguro se souber executar essas pequenas ações.

                Peça conselhos a amigos, assista a vídeos na web ou procure um curso para aprender a se virar o suficiente numa situação de reparo. A cultura do ‘faça você mesmo’ é vigente no ciclismo!
            </p>
        </div>
        <div>
            <img src="{% static "img/coracao.png" %}" alt="Coração">
            <h3>Pratique com amor, respeitando seus próprios limites</h3>
            <p>Comece a pedalar sem exageros e respeitando seus próprios limites. Aos poucos é possível notar a evolução de suas pedaladas conforme a sua frequência de praticá-la. Não dá para louquear nas primeiras pedaladas ou querer acompanhar quem está há muito tempo pedalando.
                O nosso corpo passa por uma adaptação neuromuscular e tudo leva tempo. E com o passar do tempo praticando, os percursos que eram cansativos começam a ficar mais fáceis.
                A dica é: comece com calma, aumente a distância aos poucos e principalmente respeite seu limite, percebendo seu próprio corpo. Sem exageros para não se lesionar e não se compare aos outros.</p>
        </div>
    </section>

    <section id="portfolio">
        <h2>GALERIA</h2>
        <img src="{% static "img/montaunBike.jpg" %}" alt="Mountaim bike">
        <img src="{% static "img/monBike.jpg" %}" alt="Ciclista correndo">
        <img src="{% static "img/cicliGirasol.jpg" %}" alt="Ciclistas pedalando perto de girassois">
        <img src="{% static "img/ciclisTerra.jpg" %}" alt="Ciclista pedalando na terra">
        <img src="{% static "img/ciclistaPorSol.jpg" %}" alt="Ciclista pedalando ao pôr do sol">
        <img src="{% static "img/ciclistas.jpg" %}" alt="Ciclistas pedalando">
    </section>