{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- essa linha do charset não tava no vídeo! -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block title %}

    {% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,700|Pacifico' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/estilos.css" %}" />
</head>
  
<body>
    <section id="topo">
        <div class="elementTopo elementTopo_logo">
                <a href="{% url 'homepage' %}">
                    <div>
                            <img src="{% static "img/logo3.jpg" %}" />
                    </div>
                </a>
        </div>
        <p class="elementParagraph">Bike Flamingo</p>
        <div class="elementTopo elementTopo_carrinho">
              <a href="#" alt="Ícone do carrinho de compras">
                    <div> <img src="{% static "img/carrinho.png" %}" /></div>
                </a>
                Carrinho
        </div>
       <div class="elementTopo elementTopo_perfil">
                <a href="#">
                    <div> <img src="{% static "img/pessoa.png" %}" /></div>
                </a>
                Login
        </div>
    </section>
    <nav>
        <ul>
            <li><a href="{% url 'bicicletas' %}">PRODUTOS</a></li>
            <li><a href="{% url 'dicas' %}">DICAS</a></li>
            <li><a href="{% url 'curiosidades' %}">CURIOSIDADES</a></li>
            <li><a href="{% url 'noticias' %}">NOTÍCIAS</a></li>
            <li><a href="{% url 'mapas' %}">LOCAIS PARA PEDAL</a></li>
        </ul>
    </nav>

    {% block content %}

    {% endblock %}

    {% include 'base/rodape.html' %}

</body>
</html>
