{% load static %}

<section id="contato">
        <h2>CONTATO</h2>
        <p>Entre em contato conosco.</p>
        <div>
            <img src="{% static "img/fone.png" %}" alt="fone">
            <p><a href="tel:xx55555555">(xx) 5555 5555</a></p>
        </div>

        <div>
            <img src="{% static "img/contato.png" %}" alt="email">
            <p><a href="mailto:email@contato.com">email@contato.com</a></p>
        </div>
    </section>

    <footer>
        <p>2020 &ndash; Dev Mind</p>
    </footer>
