{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
 <section id="topo">
        <div class="elementTopo elementTopo_logo">
            <a href="#">
                <div> <img src="{% static "img/logo3.jpg"/ %}></div>
            </a>
        </div>
        <div class="elementTopo elementTopo_carrinho">
            <a href="#">
                <div> <img src="{% static "img/carrinho.png"/ %}></div>
            </a>
            Carrinho
        </div>
       <div class="elementTopo elementTopo_perfil">
            <a href="#">
                <div> <img src={% static "img/pessoa.png"/ %}></div>
            </a>
            Login
        </div>
        <p class="elementParagraph">Bike Flamingo</p>
    </section>
</body>
</html>